body {
    background-image: url("ha.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    border-radius: 10px;
}

div h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

p{
    color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: powderblue;
    color: black;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
}